@import url('https://fonts.googleapis.com/css?family=Montserrat-bold&display=swap');

body {
	font-family: 'Montserrat-bold', sans-serif;
}

p {
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 16px 0;
	font-weight: bold;
}

h1 {
  	font-size: 80px;
}

h2 {
	font-size: 64px;
}

h3 {
	font-size: 48px;
}

h4 {
	font-size: 40px;
}

h5 {
	font-size: 34px;
}

h6 {
	font-size: 20px;
}